################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/openCVShrap_1/bin/Debug
/openCVShrap_1/obj/Debug
/packages
